Домашнее задание 7. Задача 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг
Результат классификации запишите в столбец class

In [2]:
import pandas as pd

In [3]:
movie_stats = pd.read_csv('ratings7.csv')

In [4]:
def rating_class(mark):
    if mark <=2:
        return'низкий рейтинг'
    elif mark <= 4:
        return'средний рейтинг'
    elif mark == 4.5 or mark == 5:
        return'высокий рейтинг'

In [5]:
movie_stats['class'] = movie_stats['rating'].apply(rating_class)
movie_stats.head(25)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
20       2       10     4.0   835355493  средний рейтинг
21       2       17     5.0   835355681  высокий рейтинг
22       2       39     5.0   835355604  высокий рейтинг
23       2       47     4.0   835355552  средний рейтинг
24       2       50     4.0   835355586  средний рейтинг

Домашнее задание 7. Задача 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
Результат классификации запишите в отдельный столбец region.

In [6]:
geo_stats = pd.read_csv('keywords.csv')
geo_stats.head(10)

                      keyword     shows
0                          вк  64292779
1               одноклассники  63810309
2                       порно  41747114
3                        ютуб  39995567
4                   вконтакте  21014195
5  одноклассники моя страница  19976138
6                        майл  15144673
7                       авито  14786593
8                  переводчик  14453469
9                      яндекс  13344734

In [7]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
cert_data = geo_data

In [8]:
def geo_class(cert_data):
    if 'москва' in cert_data or 'тула'in cert_data or 'ярославль'in cert_data:
        return 'Центр'
    elif 'петербург'in cert_data or 'псков'in cert_data or 'мурманск'in cert_data:
        return 'Северо-Запад'
    elif 'владивосток'in cert_data or 'сахалин'in cert_data or 'хабаровск'in cert_data:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [9]:
geo_stats['region'] = geo_stats['keyword'].apply(geo_class)
geo_stats.sort_values('region', ascending=False).head(10)

                                       keyword  shows region
6999                                 москва 24  37459  Центр
61986      такси везет москва официальный сайт   6063  Центр
43404                суперджоб москва вакансии   8208  Центр
73226                   фанатик спартак москва   5353  Центр
68005                         гостиница москва   5651  Центр
7090                        гисметео ярославль  37008  Центр
97382              комсомольская правда москва   3708  Центр
35939  семейный доктор москва официальный сайт   9268  Центр
51916         сбербанк официальный сайт москва   7225  Центр
27302       расписание электричек тверь москва  23272  Центр

In [10]:
geo_stats['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64

Домашнее задание 7. Задача 3
Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.
При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.
2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'
4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [11]:
film_stats = pd.read_csv('movies.csv')

In [12]:
years = list(range(1950,2011))

In [13]:
def production_year(film_df):
    for every_year in years:
        if str(every_year) in film_df['title']:
            return every_year
    return 1900

In [14]:
#как всё же вернее в этом кейсе? через merge, как здесь?
film_stats['year'] = film_stats.apply(production_year, axis = 1)
merged_df = film_stats.merge(movie_stats).groupby('year').mean()
merged_df.filter(items = ['rating']).sort_values('rating', ascending=False).head(61)

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1975  3.823077
1969  3.817376
1967  3.814516
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.777966
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1968  3.737844
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1965  3.678715
1961  3.663851
...        ...
1984  3.651486
1982  3.638306
1991  3.628265
1956  3.617647
1987  3.606015
1900  3.602960
1985  3.588998
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
2010  3.537157
1993  3.536664
1989  3.534349
1986  3.528265
2009  3.520378
2006  3.511478
2008  3.498057
2004  3.491490
1998  3.472754
1995  3.472118
1999  3.471692
1992  3.466754
2001  3.460052
2002  3.456297
1990  3.449169
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764

[61 rows x 1 columns]

In [16]:
# или через join, как тут?
film_stats['year'] = film_stats.apply(production_year, axis = 1)
joined_df = film_stats.join(movie_stats['rating'])
joined_df = joined_df.filter(items = ['year','rating']).groupby('year').mean().sort_values('rating', ascending=False)
joined_df.head(61)

        rating
year
2007  4.021484
1952  3.851852
1994  3.833333
2008  3.819838
2006  3.808429
1995  3.804511
1976  3.764706
1950  3.759259
2004  3.751012
1955  3.704082
1966  3.677083
1974  3.666667
2010  3.611842
1961  3.611111
1967  3.603774
2002  3.599631
2009  3.598425
1969  3.575000
2000  3.574818
1957  3.573171
2003  3.548319
1991  3.510949
1900  3.508696
1993  3.502525
2001  3.501873
1972  3.500000
1996  3.496364
2005  3.489270
1968  3.488889
1983  3.475610
...        ...
1979  3.472222
1981  3.434343
1960  3.433333
1990  3.411972
1971  3.410714
1953  3.402778
1956  3.375000
1975  3.372549
1958  3.370968
1954  3.348485
1951  3.347826
1964  3.344444
1970  3.325581
1978  3.306452
1962  3.304878
1989  3.299320
1992  3.288591
1984  3.287879
1963  3.276596
1980  3.268041
1965  3.267442
1959  3.256098
1973  3.205882
1987  3.184211
1982  3.176471
1985  3.160000
1988  3.152439
1997  3.061798
1986  2.884615
1999  2.703065

[61 rows x 1 columns]